@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&display=swap');

/* The wild car format was adapted from the course work */
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
       font-family:Nunito,sans-serif; 
   
}

/*style for the header section*/
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 5px 0;
    background-color: burlywood;
}

.nav-menu{
 margin-top: 30px;
}

.nav-menu>a{
    padding: 0px 15px;
    margin:  0px 20px;
    font-size:larger;
    font-weight:550;
    letter-spacing: 1px;
    text-decoration: none;
    color:black;
}

.nav-menu>a:hover {  
    color:rgba(151, 49, 12, 0.986);
    border-bottom: 1px solid chocolate;
}
.active{
    border-bottom: 1px solid chocolate;
}

 #logo>img{
    border-radius: 50%;
    padding-top: 5px;
}

/* Style for the hero section */

#logo>img{
    border-radius: 50%;
    padding-top: 5px;   
}


#hero-image{
    width: 100%;
}

#hero-image>img{ 
    background: no-repeat center center;
    width: 100%; 
} 

.hero-section{
    position: relative;
}

#quote>p{
    color: white;
    font-weight: bolder;
    font-size:larger;
    font-style:italic;
    position: absolute;
    width: 270px;
    height:80px;
    right:200px;
    bottom:0px;
}


/* style for the content of the home page */

.def-meditation{
    margin:10px 150px 20px 150px;
}

#meditation-benefit{
    margin-bottom: 10px; 
}

#meditation-benefit>a{
    text-decoration: none;
    color:coral;
}

p{
 margin-bottom: 20px;
 width: 75%;
 text-align: justify;
}

ul{
    list-style-type:none;   
}

/* from external source */
li::before{
    content: "\261B";
    color: coral;
    font-weight: bold;
    padding-right: 10px;
    text-align: justify;
}

/* style for the content of the meditation types page */

.meditation-types{
 margin:10px 100px 20px 100px;
}

/* style for the contents of the contact page */
.form-section{
    display: flex;
    justify-content: center;
}

.form-content{   
    margin: 20px 0 30px 250px; 
}

.label{
font-weight: 500;
}

.contact{
    color: black;
    width: 400px;
    height: 30px;
    border: 1px solid black;
    border-radius: 2px; 
    margin-bottom: 10px;    
}

.contact:hover{
    border: 2px solid chocolate;
}

.feedback{
    border: 1px solid black;
    width: 400px;
    height: 70px;
    border-radius: 2px; 
    margin-bottom: 10px;   
}

.feedback:hover{
    border: 2px solid chocolate;
}

.submit-button{
    border: 1px solid black;
    width: 150px;
    height:30px;
    text-align: center;
    border-radius: 2px; 
    background-color:wheat;
    margin: 25px 0 110px 110px;
}

.submit-button:hover{
    border: 2px solid chocolate;
    background-color:darkorange;
    color:white
}

/* style for the contents of the footer section */

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: burlywood;
    height: 100px;  
}

.socialmedia>img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none; 
    margin-top: 30px; 
}

/* Media queries */

/* For screens  with 1200px and down */
@media screen and (max-width:1200px) {
    /* .hero-section{
     width: 65%;
    }  */ 
     #quote>p{
      right:100px;
     }
  
     .def-meditation{
      margin:10px 150px 20px 200px;
       }
  
       .meditation-types{
          margin:10px 100px 20px 200px;
      }  
  }

  /* For screens  with 800px and down */
@media screen and (max-width:800px) {
    /* .hero-section{
     width: 65%;
    }  */ 
     #quote>p{
      right:50px;
     }
      .form-content{
        margin: 20px 0 40px 190px;        
    }
  }

/* For screens  with 768px (ipad or tablet) and down */
@media screen and (max-width:768px){

      .def-meditation{
      margin-left: 150px;
       }
  
       .meditation-types{
          margin-left: 110px;
      }  

      p{
          width: 100%;
      }      

}

/* For screens  with 375px and down */
@media screen and (max-width:375px) {

    /* header seaction */
     #logo>img{
        border-radius: 50%;
        width:60px;
        height:60px;  
       }
    #logo{
        margin: 5px 0 0 130px;
       }

    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        } 

    .nav-menu{
        margin-top: 15px;
        display:flex;
        justify-content:space-evenly; 
         }

    .nav-menu>a{
        font-size:small;
        font-weight:400;
       }

    .nav-menu>a:hover {  
        border-bottom: none;
         }

     .active{
     border-bottom:none;
        }

        /* hero section */
     #quote>p{
    right:50px;
    color: white;
    font-weight:bold;
    font-size:x-small;
    font-style:italic;
    position: absolute;
    width: 140px;
    height:30px;
    right:5px;
    bottom:0px;
     }

     /* home page */
   .def-meditation{
        margin:10px 0 20px 25px;
   }
     
     /* meditation types page */
   .meditation-types{
       margin:10px 0 20px 25px;
     } 

     h2{
        font-size:medium;
        font-weight:600;
          }
    
        p{
            width: 90%;
        }  

   /* contact page */

   .form-section{
       margin:10px 60px 20px 10px;
      }

   .form-content{   
    margin: 20px 0 30px 50px; 
      }

    
   .contact{
    width: 300px; 
     }

  .feedback{
    width: 300px; 
   }

  .submit-button{
    margin: 40px 0 110px 70px;
    }

   footer{
    margin-top: 50px;
    }
 }

